{% extends "plantilla.html" %}
{% block content %}

<style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  /*#mapid { height:180px; }*/

  #mapid {
    height: 100%;
    }
</style>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Alertas 22/04/2022</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  
  <!-- Main contenido principal   -->
  <div class="content">
    <div class="container-fluid">
       
      <div id="listado" class="mx-auto" style="width: 1600px;" >
       
      </div>
    </div>
</div><!-- /.container-fluid -->
</div><!-- /.content -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<!--script src="plugins/jquery/jquery.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<!--script-- src="plugins/bootstrap/js/bootstrap.bundle.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<!--script src="static/js/adminlte.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
<script>
  //setTimeout(buscarAlert, 5000);
  // 1 - buscar las alertas cada 5 minutos  
 
  // 2 - ajustar el tiempo de busqueda 1000 ms = 1 segundo
  //setTimeout(buscarAlert, 5000);
 

  function buscarAlert()
  {
   //alert("1");
    $.ajax({
       url: '/alerta_lectura',
       type: 'POST',
       success: function(response) {
           // solo muestro uno por vez
           //$('#listado').append(`<div class="col"><div class="alert alert-${response.alerta}"><strong>${response.sensor}</strong> ${response.fechahora} - ${response.ubicacion} </div></div>`);
           $('#listado').append(`<div class="col-4"><div class="alert alert-${lectura.alerta}"><label>${lectura.sensor}</label><h5> ${lectura.fechahora}</h5> <h5> ${lectura.ubicacion_nombre}</h5> </div></div>`);
           //console.log(response);
       },
       error: function(error) {
           console.log(error);
       }
   });

  }

  //setInterval(buscarAlert55, 9000);
  $(document).ready(function(){
   
   $.ajax({
      url: '/alerta_lectura',
      type: 'POST',
      success: function(response)
      {
       //alert(response);
       $.each(response, function(p,lectura)
         {
          var id=lectura.ubicacion_id;  
         // alert('id: '+id);
          
        //  $('#listado').append(`<div class="col-4">  <a href="" onclick="traerUbicacion(${lectura.ubicacion_id});" data-toggle="modal" data-target="#exampleModal" > <div class="alert alert-${lectura.alerta}"><label>${lectura.sensor} ${lectura.ubicacion_id}</label><p style="text-align: right"> ${lectura.fechahora}</p> <h5> ${lectura.ubicacion_nombre}</h5> </div></a></div>`);
          // armar el link a la pagina de ubicaciones
         
         $('#listado').append(`<div class="col-4">
                               <div class="alert alert-${lectura.alerta}">
                                <label>${lectura.sensor}</label>
                                <p style="text-align: right"> ${lectura.fechahora}</p>
                                <h5> ${lectura.ubicacion_nombre}</h5>
                                <p style="text-align: right">
                                <form action="{{url_for('alerta_ubicacion')}}" method="POST">
                                <input type="hidden" name="ubicacion_id" value="${lectura.ubicacion_id}">
                                <button class="btn btn-light"><i class="fas fa-map-marker" aria-hidden="true"></i> Ubicacion  <i class="fas fa-map-marker-alt mr-1" aria-hidden="true"></i></button>
                                </form>
                                </p>
                                <a href="#" class="btn btn-outline-light"><i class="fas fa-map-marker" aria-hidden="true"></i>Ubicacíon </a>
                                </div>
                                </div>`);

          $('#listado').append(`<div class="col-4">
                              <div class="small-box bg-${lectura.alerta}">
                                <div class="inner">
                                <h3>Peligro : ${lectura.sensor} </h3>
                                <p>${lectura.ubicacion_nombre}</p>
                                <p>fecha/hora: ${lectura.fechahora}</p>
                                </div>
                                <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i> Ubicación <i class="fas fa-map-marker"></i> ir</a>
                                <p>
                                <form action="{{url_for('alerta_ubicacion')}}" method="POST">
                                <input type="hidden" name="ubicacion_id" value="${lectura.ubicacion_id}">
                                <button class="btn btn-light small-box-footer"><i class="fas fa-map-marker" aria-hidden="true"></i> Ubicacion</button>
                                </form>
                                </p>
                                </div>
                              </div> `);                      

             
            });//fin each
      },
      error: function(error) {
          console.log(error);
      }
  });

});

function traerUbicacion(ubicacion_id)
 {
  /*var map = L.map('mapid').setView([-31.5344607, -68.5294144], 18);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  alert(ubicacion_id);
 */
 
  //buscar los datos de la ubicacion
  $.ajax({
            url: '/datos_ubicacion',
            type: 'POST',
            data: {ubicacion_id: ubicacion_id },
            success: function(response) {
            //  alert(response);  
             
              $.each(response, function(p,parada)
                {
                var a= parada.toString();
                //alert (a);
                var coordenadas = a.split(",");    
                /*var marker = L.marker([coordenadas[0],coordenadas[1] ]);
                marker.bindPopup("Edificio : "+coordenadas[2] );
                marker.addTo(map);*/

                //map.flyTo([13.87992, 45.9791], 12);
                });//fin each

                var map = L.map('mapid').setView([-31.5344607, -68.5294144], 18);
    
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 18
                }).addTo(map); 
                
              /* para mapbox   L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1Ijoicm9iZXJ0b21vbGluYTk5OSIsImEiOiJjanc5NThiNWkwaXhuNDh0ZjM4d2N6d3lhIn0.18umuQ1-wrgY-3Zqc5dOfg'
}).addTo(map);*/




                L.marker([-31.5344607, -68.5294144]).addTo(map)
                .bindPopup('001 - Ubicación')
                .openPopup();
               // map.flyTo([-31.5344607, -68.5294144], 20);
             
            },
            error: function(error) {
                console.log(error);
            }

        });

 }

</script>
{% endblock %}