{% extends "plantilla.html" %}
{% block content %}

<style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  /*#mapid { height:180px; }*/

    #mapid { height: 480px; }

</style>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Alertas - Ubicación - 20/04/2022</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  
  <!-- Main contenido principal   -->
  <div class="content">
    <div class="container-fluid">

       <input type="hidden" id="id_ubicacion" value="{{ id_ubicacion}}">
        <div id="mapid" style="height: 600px; margin-top: 50px; position: relative; outline: none;"></div>

  </div>

  
 
</div><!-- /.container-fluid -->
</div><!-- /.content -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<!--script src="plugins/jquery/jquery.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<!--script-- src="plugins/bootstrap/js/bootstrap.bundle.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<!--script src="static/js/adminlte.min.js"></!--script-->
<script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
<script>
  
  $(document).ready(function()
  {
    var id_ubicacion=$("#id_ubicacion").val();

     traerUbicacion(id_ubicacion);  

  });  
           
  var map = L.map('mapid').setView([-31.5344607, -68.5294144], 18);
    
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 18
                }).addTo(map); 

  function traerUbicacion(ubicacion_id)
    {
       $.ajax({
              url: '/datos_ubicacion',
              type: 'POST',
              data: {ubicacion_id: ubicacion_id },
              success: function(response)
              {
             
                $.each(response, function(p,parada)
                {
                 var a= parada.toString();
                 alert(a);
                
                 var coordenadas = a.split(",");    
                
                 var marker = L.marker([coordenadas[0],coordenadas[1] ]);
                 marker.bindPopup("Edificio : "+coordenadas[2] );
                 marker.addTo(map);

                 map.flyTo([coordenadas[0],coordenadas[1]], 18);
                
                });//fin each

             },
             error: function(error) {
                 console.log(error);
            }
        });
 }             

</script>
{% endblock %}